body{
    background-color: #000;   
    color: white;
}

body h1{
    text-align: center;
}

.countdown-timer{
    display:flex;
    justify-content: center;
}

.countdown-timer .count-down{
    width: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.count-down .timer{
    display: flex;
    width: 100px;
    margin: 10px;
}
